/* Font combos: https://inkbotdesign.com/font-combinations/ */
/* 8 – Century Gothic & PT Serif */
/* HEADINGS: */
/* Coco Gothic */
@import url('http://fonts.cdnfonts.com/css/coco-gothic');
/* 
font-family: 'Coco Gothic', sans-serif;
font-family: 'Coco Gothic Alternate', sans-serif; 
*/
/* BODY: */
/* PT Serif */
@import url('http://fonts.cdnfonts.com/css/pt-serif');
/* font-family: 'PT Serif', sans-serif; */

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}

* {
	text-align: center;
}
/* FONTS */
h1,
h2,
h3,
h4 {
	font-family: 'Coco Gothic', sans-serif;
}

*:not(h1, h2, h3, h4) {
	font-family: 'PT Serif', sans-serif;
}

/* HEADERS */

header {
	/* background: rgba(139, 0, 0, 0.8); */
}

img {
	max-width: 90%;
}

header img {
	max-height: 40vh;
}

.epk {
	margin: 1rem;
}

/* PORTFOLIO */

a {
	text-decoration: none;
	color: black;
	transition: color 0.4s;
}

a:hover {
	color: darkred;
}

.portfolio h3,
.intro h3,
.contact h3 {
	font-size: 2rem;
}

.portfolio h4 {
	font-size: 1.5rem;
}

.portfolio h5 {
	font-size: 1.2rem;
	margin: 0.8rem;
}

.content-block {
	margin-bottom: 2rem;
	padding: 1rem;
	max-width: 100vw;
	box-shadow: 0 0;
	transition: box-shadow 0.4s;
}

.cv-download-button {
	font-weight: bold;
	padding: 0.4rem;
	border: 1px solid black;
	border-radius: 0.4rem;
	box-shadow: 0 0;
	transition: box-shadow 0.4s;
}

.content-block:hover,
.cv-download-button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contact p {
	margin: 0.8rem;
}

i {
	font-size: 2rem;
	padding: 1rem;
}

iframe {
	width: clamp(90%, 560px, 560px);
	height: 315px;
}

@media screen and (max-width: 600px) {
	iframe {
		width: 90%;
		height: unset;
	}
}
